<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Define the Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
           <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
       
    <!-- Define the Rolling File Appender -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>G://logs/customerService.log</file> <!-- Current log file -->
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>G://logs/customerService.%d{yyyy-MM-dd}.log</fileNamePattern> <!-- Daily log files -->
            <maxHistory>30</maxHistory> <!-- Keep logs for 30 days -->
            <totalSizeCap>1GB</totalSizeCap> <!-- Optional: Total size cap for log files -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern> <!-- Log format -->
        </encoder>
    </appender>
  

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING" />
    </root>

</configuration>